# Enforce Unix newlines
* text=auto eol=lf

.config/conky/conky_maia linguist-language=Lua
.config/conky/conky1.10_shortcuts linguist-language=Lua

.config/dunst/dunstrc linguist-detectable=true
.config/dunst/dunstrc linguist-language=INI

*.conf linguist-detectable=true
*.ini linguist-detectable=true

./bin/* linguist-detectable=trye
