# Enforce Unix newlines
* text=auto eol=lf

.config/dunst/dunstrc linguist-detectable=true
.config/dunst/dunstrc linguist-language=INI

*.conf linguist-detectable=true
*.ini linguist-detectable=true
*.service linguist-detectable=true
*.conf linguist-language=INI
*.ini linguist-language=INI
*.service linguist-language=INI

./bin/* linguist-detectable=true
