[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[user]
    name = Luke-zhang-04
    email = Luke_zhang_04@protonmail.com
    signingkey = 53429218A4A5D080
[gpg]
    program = gpg2
[commit]
    gpgsign = true
[core]
	editor = vim
[credential]
	helper = cache --timeout=2628000
[init]
	defaultBranch = master
